<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h1 align="center">Articles</h1>
    </div>
</div>

<div align="center">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>